* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Roboto', 'Ubuntu';
  background:linear-gradient(135deg, #5b5b5b, #5b548a);
  --color-primary:#00feba;
  --color-secondary:#5b548a;
  --color-error:#cc3333;
  --color-success:#4bb544;

  height: 100vh;

  /* display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; */

}
.company-name h1{
  color:#00feba;
  font-size: 2.5rem;
  padding: 0 1em;
  
}

.container-form {
  background-color: #ffffff;
  margin: 100px auto 0;
  padding: 18px;
  width: 400px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.container-form h2 {
  text-align: center;
  color: var(--color-primary);
  padding: 0.85rem 0 1rem 0;
}

.container-form,
.form__input,
.form__button {
  font-weight: 500;
  font-size: 1em;
}
.form--hidden {
  display: none;
}
.form {
  padding-bottom: 1em;
}
.form__message {
  text-align: center;
  margin-bottom: 0.9em;
}

.form__message--success{
  color: var(--color-success);
}

.form__message--error{
  color: var(--color-error);
}

.form__input-message-error {

}

.form__input-group,
.form__button {
  margin-bottom: 1em;
}
/* 
.form__input-group.success input {
  border-color:var(--color-success)
} */

/* .form__input.success {
  border-color: var(--color-success);
}

.form__input.error {
  border-color: var(--color-error);
} */

.form__input {
  display: block;
  width: 95%;
  margin: 0 0.7em;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  border: 2px solid #dddddd;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

 .form__input:focus  {
  /* border-color: var(--color-primary); */
  background: #fff;
  outline: none;
} 

.form__input.error {
  color: var(--color-error);
  border-color: var(--color-error);
} 

.form__input.success {
  color: var(--color-success);
  border-color: var(--color-success);
} 


.form__input-message-error {
  margin-top: 0.8em;
  text-align: center;
  font-size: 0.88em;
  color: var(--color-error);
}

.form__button {
  width: 95%;
  margin: 0 0.7em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 15px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  color: #ffffff;
  border-radius: 4px;
  transition:all 0.2s ease-in;
}

.form__button:hover {
  background: var(--color-secondary);
}

.form__button:active {
  transform: scale(0.95);
}

.form__text {
  text-align: center;
  margin-bottom: 1em;
}

.form__link {
  cursor: pointer;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline;
}
